@import 'variables'
@import 'compass/css3'

//
// addressLookupView
//
//

.title
  margin: 25px 0
  padding: 0
  text-align: center

.subtitle
  margin: 0
  text-align: center

#user-image
  max-height: 150px

#get-information-on
  padding: 45px
  border-bottom: 0
  font-size: 12px
  font-weight: bold
  color: $darkgray
  text-transform: uppercase

#info-icon
  margin: -1px 0 0 0
  color: white
  font-family: times
  font-weight: bold
  background-color: $darkgray
  border: 6px solid $darkgray
  border-top: 0
  border-bottom: 0
  border-radius: 9px
  font-size: 14px
  float: right
  display: block

#close-button
  @include inline-block
  float: right
  margin-top: -35px

#address-not-found
  top: 15%
  height: 250px
  text-align: center
  font-size: 12px
  h1
    font-size: 24px
  h2
    color: #444
    margin: 10px
  button
    display: block
    margin: 0 auto
    margin-top: 20px
