@import 'variables'
@import 'compass/css3'

.pac-nudge
  margin-top: 0 !important

.alert_ie
  position: absolute !important
  padding: 10px

.landscape#map-view
  height: 100%

  #about-resources 
    padding-left: 25px

  .footer
    bottom: 0

  .info
    font-size: 16px

  #location
    position: absolute,
    left: 45%,
    top: 55%,
    width: 50%,
    background-color: white,
    z-index: 2
    img
      margin-right: -10px

  .left-wrapper
    float: left
    position: absolute
    z-index: 3
    width: 40%
    height: calc(100% - 40px)
    background-color: $darkblue
    @include box-shadow(2px 0px 5px 0px rgba(50, 50, 50, 0.35))

    .box:not(.info)
      padding: 10px
      background-color: white

    #vip-logo
      height: 110px
      background-image: url(images/vip-logo.png)
      background-size: 105px
      background-repeat: no-repeat
      background-position: center
      background-color: white

  .dark-blue-box
    background-color: $darkblue
    overflow: hidden

  .right-wrapper
    height: calc(100% - 40px)
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    position: absolute

    #all-contests
      position: relative
      top: -30px

  .right
    float: right
    width: 60%

    .box
      padding-left: 30px

  #map-canvas
    position: absolute !important
    left: 40%
    height: 100%
    background-color: white
    z-index: 1

  #polling-location
    width: 105%
    background-color: $highlightblue

  #current-location
    button
      margin: 10px 25px 0 90px
