$border: #E9E9E9
$text: #4B4B4B
$input-text: #B0B0B0
$input-background: #FAFAFA
$magnifying-glass: #7C7C7C
$darkgray: #898989
$text: #494949
$blue: #1C7CA5
$darkblue: #386286
$red: #A30000
$textred: #BD0000
$lightblue: #98C0DA
$highlightblue: #57c4f7