<img id="user-image" src="./images/voting-information-project.png"></img>
<div class="address-info box">
  <h1 class="title">Voter Information Tool</h1>
  <h2 class="subtitle">Subheader Text</h2>
  <input type="text" id="address-input" placeholder="Enter Registered Voter Address">
  <img src="images/magnifying-glass.svg" class="magnifying-glass">
  <div id="app-info">Find out about ballot information, polling location, early voting, ID requirements and more...</div>
</div>
<div class="footer">
  <span>
  	For the most complete and up to date information, consult your local election official.
  </span>
  {{!-- <i id="info-icon">i</i> --}}
  <i id="plus-icon"><div>+</div></i>
</div>

{{> modals }}

<div id="fade"></div>