<img id="user-image"></img>
<div class="box">
  <h1 class="title">Voter Information Tool</h1>
  <h2 class="subtitle">Subheader Text</h2>
  <input type="text" id="address-input" placeholder="Enter registered address">
    Get Information on...
    <ul>
      <li>Ballot Information</li>
      <li>Polling Locations</li>
      <li>Early Voting</li>
    </ul>
</div>
<div class="footer">
  For the most complete and up to date information, consult your local election official
  <i id="info-icon">i</i>
  <i id="plus-icon">+</i>
</div>

{{> modals }}