<div class="nav" id="all-elections">
  <div class="left-arrow"></div>
  Back
</div>
<div class="box">
Voter Resources
</div>
<div class="information-items">
  <div class="box correspondence-address">
  <b>{{ data.state.0.local_jurisdiction.electionAdministrationBody.name }}</b>
  {{> normalized-address data.state.0.local_jurisdiction.electionAdministrationBody.correspondenceAddress }}
  {{> normalized-address data.state.0.local_jurisdiction.electionAdministrationBody.physicalAddress }}
  <br>
  <b>{{ data.state.0.electionAdministrationBody.name }}</b>
  {{> normalized-address data.state.0.electionAdministrationBody.correspondenceAddress }}
  {{> normalized-address data.state.0.electionAdministrationBody.physicalAddress }}
  </div>
  <div class="box voter-id-info">
  {{#each data.voterId }}
    <p>
      <b style="text-align:center">{{ question }}</b>
      <i>{{ answer }}</i>
    </p>
  {{/each}}
  </div>
{{> election-administration-body data.state.0.electionAdministrationBody }}
{{> election-administration-body data.state.0.local_jurisdiction.electionAdministrationBody }}
</div>
<div class="box sources">
{{#each data.state.0.local_jurisdiction.sources }}
{{> source }}
{{/each }}
{{#each data.state.0.sources }}
{{> source }}
{{/each }}
</div>