<div class="box">
  <div class="address-name">Address you entered:</div>
  <div class="address">1234 Main St. New York NY, 10000</div>
</div>
<div id="map-canvas"></div>
<div id="map-close-button">X</div>