<div class="nav" id="change-your-address">
  <div class="left-arrow"></div>
  Back
</div>
<div class="box">
<div class="address-name">Address you entered:</div>
<div class="address">1234 Main St. New York NY, 10000</div>
</div>
<div id="map-canvas">
</div>
<button id="more-locations">More Locations</button>
<div id="location" class="box">
  Your Closest Polling Location
  <div class="address-name">
  Location Name
  </div>
  <div class="address-distance">
  0.2 miles
  </div>
  <div class="address">
  1234 Main St.
  </div>
  <div class="address">
  New York, NY 10000
  </div>
  <a href="https://www.google.com/maps?saddr=My+Location&daddr={{data.pollingLocations}}">Directions</a>
</div>