<div class="modal" id="about">
  <h2>About the Voter Information Tool</h2>
  The Voting Information Project (VIP) works to connect voters with the essential information needed to cast their ballot, such as where to vote and what is on the ballot. It is a project between The Pew Charitable Trusts, Google, and the states. Launched in 2008, VIP works with state and local election officials to provide official election information to citizens through a variety of means, including the Google Civic Information API. The Voting Information Tool is one of the many made available through VIP, ensuring official election information is accessible to voters before and on Election Day.
  <div id="close-button">x</div>
</div>
<div class="modal" id="address-not-found">
  <h2>No information found</h2>
  You entered:
  <h1>1234 Main St<br>New York, NY 10000</h1>
  We couldn't find any election information for the address you entered. Please check to make sure you entered it correctly.
  <button>Try Again</button>
</div>