<div class="modal" id="about">
  <h2>About</h2>
  <div id="close-button">x</div>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat.
</div>
<div class="modal" id="address-not-found">
  <h1>Address was not found.</h1>
  You entered:
  <h2>1234 Main St<br>New York, NY 10000</h2>
  Please verify your registered voter address and try again.
  <button>Try Again</button>
</div>