<div class="modal" id="multiple-elections">
  <h2>{{assets.text.multipleElections.text}}</h2>
  {{#each elections}}
    <div class="election">
      <img src="./images/radio-checked-blue.png" class="radio checked hidden">
      <img src="./images/radio-unchecked-black.png" class="radio unchecked">
      <h1>{{name}}</h1>
      <h2>{{date}}</h2>
      <div class="hidden">{{id}}</div>
    </div>
  {{/each}}
  <button>Done</button>
</div>